// Set your brand colors
$red: #990000;

// Path to Bulma's sass folder
@use "bulma/sass" with (
  $family-primary: '"Nunito", sans-serif',
  $link: $red
);

// Import the Google Font
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");